
.product-part{
    padding-top: 20px;
    float: right;
    display: flex;
    flex-direction:row;
    gap: 20px; /* espace horizontal et vertical */
    flex-wrap: wrap;
    justify-content: center
}