#nav{
    background-color: rgb(186, 201, 201);
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    clear: both;
}
div#nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;        /* aligne les <li> côte à côte */
    gap: 20rem;            /* espace horizontal entre eux */
}
div#nav ul a{
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: block;
    position: relative;
    
}
/* Fade in */
div#nav ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
div#nav ul a:hover::after,
div#nav ul a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
